/* src/components/CampoList.css */
.campo-list-container {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s;
}

li.disponibile {
    background-color: #d4edda; /* Verde chiaro */
}

li.non-disponibile {
    background-color: #f8d7da; /* Rosso chiaro */
    cursor: not-allowed;
}

/* src/components/FasceOrarie.css */
.fasce-orarie-container {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}
