/* src/components/dataPicker/DataPicker.css */
.data-picker {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.data-picker label {
    margin-bottom: 5px;
    font-weight: bold;
}

.custom-datepicker {
    padding: 10px; /* Padding per il DatePicker */
    border: 1px solid #ccc; /* Bordo grigio */
    border-radius: 5px; /* Angoli arrotondati */
    font-size: 1rem; /* Dimensione del font */
}

.today-button {
    margin-top: 10px; /* Margine sopra il pulsante */
    padding: 10px; /* Padding per il pulsante */
    background-color: #007bff; /* Colore blu per il pulsante */
    color: white; /* Colore del testo */
    border: none; /* Nessun bordo */
    border-radius: 5px; /* Angoli arrotondati */
    cursor: pointer; /* Cursore a mano per indicare cliccabilità */
    transition: background-color 0.3s; /* Transizione per l'effetto hover */
}

.today-button:hover {
    background-color: #0056b3; /* Colore al passaggio del mouse */
}
